<div class="data-menu">
  <ul>
    <li class="first"><a href="#">Most used Datasets</a></li>
    <li><a href="#">Last updated Datasets</a></li>
  </ul>
  <a href="/dataset" class="button">All Datasets</a>
</div>
<div class="data-box">
  <h3>Dataset title which can be something</h3>

  <p class="data-meta-infos">File formats: pdf, jpg, svg</p>

  <p class="data-content">Project title to which they are related to, which can have a quite genereous long size.</p>
</div>
<div class="data-box">
  <h3>Dataset title which can be something</h3>

  <p class="data-meta-infos">File formats: pdf, jpg, svg</p>

  <p class="data-content">Project title to which they are related to, which can have a quite genereous long size.</p>
</div>
