<div class="data-menu">
  <ul>
    <li class="first"><a href="#">Projects with more Datasets</a></li>
    <li><a href="#">Last added Projects</a></li>
  </ul>
  <a href="#" class="button">All Projects</a>
</div>
<div class="data-box">
  <h3>Dataset title which can be something</h3>

  <p class="data-count">Number of Datasets: 28</p>
</div>
<div class="data-box">
  <h3>Dataset title which can be something Dataset title which can be something Dataset title which can be something Dataset title which can be
    something</h3>

  <p class="data-count">Number of Datasets: 28</p>
</div>
