<footer>
  <div class="container">
    <div class="grid">
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul>
          <li>Source code on Github</li>
          <li>Developed with CKAN</li>
        </ul>
      </div>
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul>
          <li>CKAN API</li>
          <li>Open Knowledge</li>
        </ul>
      </div>
      <div class="grid__col grid__col--3-of-6 footer__text">
        <p>Powered by <a href="#">FORS</a>, in collaboration with <a href="#">swissuniversities.ch</a>, <a href="#">ETH SIS</a> and <a href="#">DHLab</a></p>
      </div>
    </div>
  </div>
</footer>
