<footer>
  <div class="container">
    <div class="grid">
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul class="footer-middle">
          <li>Source code on Github</li>
          <li>Developed with CKAN</li>
        </ul>
      </div>
      <div class="grid__col grid__col--1-of-6 footer__links">
        <ul>
          <li>CKAN API</li>
          <li>Open Knowledge</li>
        </ul>
      </div>
      <div class="grid__col grid__col--3-of-6 footer__text">
        <p>Powered by <a href="http://forscenter.ch">FORS</a>, in collaboration with <a href="https://www1.ethz.ch/id/about/sections/sis">ETH SIS</a> and <a href="http://www.dhlab.unibas.ch">DHLab</a></p> <br />
        <p class="footer-operated">Operated by <a href="http://ethz.ch">ETH Zürich</a></p> <br />
        <p class="footer-mandated">Mandated by <a href="http://www.swissuniversities.ch/"><img src="images/footer-logo.png"></a></p>
      </div>
    </div>
  </div>
</footer>
