{% block header_top %}
  <div class="header__top">
    <div class="container">
      <div class="grid">
        <div class="header__top-language">
          <ul>
            <li>en</li>
            <li>de</li>
            <li>fr</li>
          </ul>
        </div>
        <div class="header__top-link">
          <p>We are part of <a href="#">openresearchdata.ch</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block header_account_container_content %}
  <div class="header__content">
    <div class="container">
      <div class="grid">
        <div class="grid__col grid__col--1-of-3 header__content-topmenu">
          <ul>
            <li>Datasets</li>
            <li>Projects</li>
          </ul>
        </div>
        <div class="grid__col grid__col--1-of-3 logo-title">
          <img src="images/logo2.png" alt="Logo">

          <h1>Open Social Sciences Data</h1>
        </div>
        <div class="grid__col grid__col--1-of-3 header__content-metamenu">
          <ul>
            <li>About</li>
            <li>FAQ</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="container">
          <div class="grid">
            <div class="grid__col grid__col--4-of-5 grid__col--centered header__content-claim">
              <p>Irgend ein Introtext .... Der rech lange sein kann, und noch länger...Irgend ein Introtext .... Der rech lange sein kann, und noch
                länger...Irgend ein Introtext .... Der rech lange sein kann, und noch länger...Irgend ein Introtext .... Der rech lange sein kann, und noch
                länger...Irgend ein Introtext .... Der rech lange </p>

              <div class="header__content-search">
                <input type="text" name="search" placeholder="Search">
              </div>
              <div class="header__content-tags">
                <h3>Most searched tags:</h3>
                <ul>
                  <li><a href="#">Test</a></li>
                  <li><a href="#">Test länger</a></li>
                  <li><a href="#">Test</a></li>
                  <li><a href="#">Test</a></li>
                  <li><a href="#">Test</a></li>
                  <li><a href="#">Test länger</a></li>
                  <li><a href="#">Test</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block header_logo %}
{% endblock %}
